* {
  box-sizing: border-box
}
html {
  font-size: 20px;
}
body{
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6em;
  color: #666;
  background-color: #F6F6F6;
  margin: 0;
  padding-bottom: 2em;
}
header {
  background-color: #F0F0F0;
  padding: 1em 0;
  margin-bottom: 2em;
  width: 100%;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}
.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1.5em;
}
.logo {
  max-width: 3rem;
  margin-bottom: 0.5em;
  border-radius: 5px;
  opacity: 0.95;
}
.connected {
  margin-left: -38px;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
h2 {
  color: #FC4C02;
}
.thumbnail {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
button,
.button,
.button:visited {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  color: #F6F6F6;
  border: 2px solid transparent;
  background: #FC4C02;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
  margin: 2em 0;
  text-decoration: none;
}
button:disabled {
  opacity: 0.2;
}
button:enabled:hover,
.button:hover,
.button:visited:hover {
  background: transparent;
  border: 2px solid #FC4C02;
  color: #FC4C02;
  cursor: hand;
}
ul {
  padding: 0;
  margin: 0;
  margin-left: -1.2em;
  list-style-type: none;
}
ol {
  padding: 0;
  margin: 0;
}
ol li {
  margin-bottom: 1em;
}
.substep {
  list-style-type: lower-alpha;
  padding-left: 1.2em;
  margin-top: 1em;
}
input[type=text] {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #CCC;
  background: transparent;
  color: #000;
  font-weight: bold;
  padding: 0.5em;
  font-size: 1em;
}
a,
.brand {
  color: #FC4C02;
}
a:visited,
a:active {
  color: #FC4C02;
  opacity: 0.75;
}
.tagline {
  font-size: 0.7em;
  padding: 0;
  color: #666;
}
.shorten {
  display: none;
}
.new {
  font-size: 0.7em;
  background: #666;
  color: #FFF;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 0.3em;
}
.screenshot {
  max-width: 100%;
  border: 2px solid #EEE;
  border-radius: 5px;
  padding: 10px;
  background: #FFF;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #CCC;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #CCC;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CCC;
}
@media (min-width: 30em) {
  header {
    text-align: left;
  }
  .logo {
    float: left;
    margin-bottom: 0;
    margin-right: 0.5em;
  }
  .shorten {
    display: inline;
  }
}
