{{#if error }}
  <h2 class="brand">Something went wrong</h2>
  <p class="error">🙀 Sorry, something went wrong ({{error}}). Want to try again?</p>
{{/if}}

<section class="content-intro">
  <p><span class="brand">😻 #</span>courier posts your Strava team's activity to Slack so you can see what your teammates are up to.</p>
  <img class="screenshot" src="/images/courier-ivan.png" alt="Screenshot of Strava activity posted to Slack"/>
  <p>🙌 Motivate your teammates with emoji, or use this newfound visibility to motivate yourself.</p>
  <p>🚴 Works with all Strava teams: runners, cyclists, walkers etc.</p>
  <p>🚀 Get started now! Add the <span class="brand">#</span>courier app and start sending your team's runs, rides and reccies to Slack today.</p>
</section>

<section class="slack-signin">
  <a id="slackLink" class="button button-connect" href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id={{environment.slackClientId}}">Add to Slack</a>
</section>

<section class="content-new">
  <p><span class="new">New!</span>We've added weekly leaderboards! 🎖</p>
  <img class="screenshot" src="/images/courier-leaderboard.png" alt="Screenshot of Strava activity leaderboard posted to Slack"/>
</section>

<script type="text/javascript">
  ga('send', 'pageview', '/home');

  (function() {
    var slackLink = document.getElementById( 'slackLink' );

    slackLink.addEventListener( 'click', function( event ) {
      ga('send', 'pageview', '/slack');
    } );
  })();

</script>