{{#if error }}
  <h2 class="brand">Something went wrong</h2>
  <p class="error">🙀 Sorry, something went wrong ({{error}}). Want to try again?</p>
{{/if}}

<section>

  {{#if strava.accessToken}}
    <h2 class="brand">Thanks! You're all linked up!</h2>
    <p>Now we can show photos for your runs or rides and you can send kudos to other club members through Slack (just add a reaction and we'll do the rest).</p>
  {{else}}
    <h2 class="brand">Something went wrong</h2>
    <p class="error">🙀 Sorry, something went wrong. Want to try again?</p>
  {{/if}}

</section>

<script type="text/javascript">
  {{#if strava.accessToken}}
    ga('send', 'pageview', '/strava-linked');
  {{/if}}
</script>