<h2 class="brand">Privacy policy</h2>

<p>We do not collect any personal information when you visit our site as a visitor.</p>

<h3>1. Information we collect</h3>
<p>If you sign in to Strava and/or Slack on the site, we record the information we receive from Strava/Slack so that we can provide the service you've come here for (to send Strava club activity to Slack). This includes things such as your name, email address and authorisation tokens. To keep these safe, we use SSL and encrypt any email addresses.</p>

<p>Things we won't do:</p>

<ol>
<li>Sell, lend, distribute or pass on your details to anyone else unless required to do so by law</li>
<li>Contact you by email (unless in response to email you send us)</li>
</ol>

<h3>2. Cookies</h3>
<p>We use Google Analytics to help us understand how people use this site. It reports website trends using cookies and web beacons without identifying individual visitors. You can read more at the <a href="http://www.google.com/intl/en/analytics/privacyoverview.html" target="_blank">Google Analytics Privacy Overview</a>.</p>

<h3>3. Children</h3>
<p><span class="brand">#</span>courier does not knowingly collect or solicit Personally Identifiable Information from or about children under 13 except as permitted by law. If we discover we have received any information from a child under 13 in violation of this policy, we will delete that information immediately. If you believe <span class="brand">#</span>courier has any information from or about anyone under 13, please contact us.</p>


<h3>4. Consent</h3>
<p>Your use of this site, in any and all forms, constitutes an acceptance of this Privacy Policy.</p>

<h3>5. Changes to this policy</h3>
<p>This Privacy Policy is reviewed and revised from time to time. You will want to revisit it regularly. When it does change, we’ll change the “Last Updated” date at the bottom of the page.</p>

<p><em>Last Updated: May 25, 2016.</em></p>