{{#if error }}
	<h2 class="brand">Something went wrong</h2>
	<p class="error">🙀 Sorry, something went wrong ({{error}}). Want to try again?</p>
{{/if}}

{{#unless strava.accessToken}}
	{{!-- if there's no Strava access token, then show the form --}}

	<section>
		<h2>Step 1: Complete</h2>
		<p>Great, you've connected with Slack — now let's get Strava set up...</p>
	</section>

	<section class="strava-signin">
		<a id="stravaLink" href="https://www.strava.com/oauth/authorize?client_id={{environment.stravaAppId}}&redirect_uri={{environment.baseUrl}}/strava&response_type=code&state={{_id}}" class="button button--connect">Connect with Strava</a>
	</section>

{{else}}
	{{!-- if there *is* a Strava access token, then show the club form --}}

	<form id="registerForm" action="/success" method="post" enctype="application/x-www-form-urlencoded">
		<input type="hidden" name="stravaAccessToken" value="{{strava.accessToken}}" />
		<input type="hidden" name="jobId" value="{{_id}}" />

		<section>
			{{#unless athlete.clubs.length}}
				{{!-- if the user doesn't have any clubs, then show message --}}

				<h2 class="brand">No clubs found</h2>
				<p class="error">Hi <strong>{{athlete.firstname}}</strong>, you need to be a member of a club to be able to post that club's activity to Slack. Sadly, we couldn't find any Strava clubs for you. Would you like to <a href="https://www.strava.com/clubs/new" target="_strava">add one now</a>?</p>

			{{else}}
				{{!-- if the user *does* have clubs, then show the club form --}}

				{{#eqls athlete.clubs.length 1}}
					{{!-- if there's only one club, then give the name --}}

					<h2 class="brand">Now, confirm…</h2>
					<p>Click the 'Done' button below to start posting activity from <span class="brand">{{athlete.clubs.0.name}} to Slack.</p>
					<input id="stravaClubId" type="hidden" name="stravaClubId" value="{{athlete.clubs.0.id}}" />

				{{else}}
					{{!-- if there are more than one club, then let the user select one --}}

					<h2 class="brand">Choose your Strava club</h2>
					<p>Nearly done — we just need you to choose your club and we can start posting activity to Slack.</p>

					<ul>
						{{#each athlete.clubs}}
							<li>
								<label><input type="radio" name="stravaClubId" value="{{id}}" {{#if @first}}checked="checked"{{/if}} /> {{name}}</label>
							</li>
						{{/each}}
					</ul>

				{{/eqls}}

			{{/unless}}
		</section>

		<button>Done</button>

	</form>

{{/unless}}

<script type="text/javascript">
	{{#if strava.accessToken}}
	  ga('send', 'pageview', '/strava-authorised');
	{{else}}
	  ga('send', 'pageview', '/slack-authorised');
	{{/if}}

	(function() {
		var stravaLink = document.getElementById( 'stravaLink' );

		// var getClubId = function( event ) {
		// 	var clubs = document.querySelectorAll('input[name="stravaClubId"]'),
		// 			numberOfClubs = clubs.length,
		// 			clubId;

		// 	if ( numberOfClubs === 1 ) {
		// 		clubId = clubs[ 0 ].value;
		// 	} else {
		// 		for( var i=0; i<numberOfClubs; i++) {
		// 			if ( clubs[ i ].checked ) {
		// 				clubId = clubs[ i ].value;
		// 				break;
		// 			}
		// 		}
		// 	}

		// 	return clubId;
		// };

		if ( stravaLink ) {
			stravaLink.addEventListener( 'click', function() {
				ga('send', 'pageview', '/strava');
			} );
		}
	})();
</script>