<h2>All done!</h2>

<p>😻 Congratulations, you're all set up! We'll post activity to <a href="https://{{slack.team.name}}.slack.com/messages/{{slack.webhook.channel}}/">{{slack.webhook.channel}}</a> on <a href="https://{{slack.team.name}}.slack.com/">{{slack.team.name}}.</a></p>
<p>Now get out there and start running, riding or racing…</p>

<script>
  ga('send', 'pageview', '/success');
</script>
