<html>
<head>
  <title>#courier — send Strava runs, cycle rides, walks and other activity to Slack</title>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400' rel='stylesheet' type='text/css'>
  <link href="/styles/styles.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
  <link rel="manifest" href="/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#F6F6F6">
  <meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#F6F6F6">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Send Strava runs, cycle rides, walks and other activity to Slack" />
  <meta property="og:title" content="#courier" />
  <meta property="og:description" content="Send Strava runs, cycle rides, walks and other activity to Slack" />
  <meta property="og:image" content="/images/courier-ivan.png" />
  <script>
    (function (i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function (){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54765456-3', 'getcourier.io');
  </script>
</head>
<body>
	<header>
		<div class="container">
			<img class="logo" src="/images/logo-round-200.png" alt="Post your Strava activity to Slack with #courier"/>
			<h1><span class="brand">#</span>courier</h1>
			<h2 class="tagline">Post <span class="shorten">your team's </span>Strava activity to Slack</h2>
		</div>
	</header>

  <div class="content container">
    {{{body}}}
  </div>
</body>
</html>